body {
  font-family: 'Roboto', sans-serif;
}

div {
  border: grey;
}

.calculator-body {
  height: 318px;
  width: 230px;
  border-radius: 7px;
  border: solid grey 1px;
  border-top: 0px;
  display: flex;
  flex-direction: column;
}

.calculator-row {
  height: 47px;
  border-top: solid #a0a0a0 .5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calculator-cell {
  border: .5px grey solid;
  padding: 20px;
  border-left: 0px;
  border-bottom: 0px;
  margin-top: -1px;

}

.calculator-answer-screen {
  height: 80px;
  width: 230px;
  background-color: #a0a0a0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
