body {
  font-family: 'Roboto', sans-serif;
}

div {
  border: grey;
}

.calculator-body {
  height: 318px;
  width: 230px;
  border-radius: 7px;
  border: solid grey 1px;
  border-top: 0px;
  display: flex;
  flex-direction: column;
  margin-left: 500px;
  margin-top: 200px;
  box-shadow: 0px 2px 20px 3px #a0a0a0
}

.calculator-row {
  height: 47px;
  border-top: solid #a0a0a0 .5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calculator-cell {
  border: .5px grey solid;
  width: 33px;
  height: 23px;
  padding: 12px;
  border-left: 0px;
  border-bottom: 0px;
  margin-top: -1px;
  text-align: center;
  font-size: 22px;
  background-color: #e0e0e0;
}

.calculator-answer-screen {
  height: 80px;
  width: 230px;
  background-color: #a0a0a0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.calculator-zero  {
  padding-right: 70px;
  border-bottom-left-radius: 7px;
}

.calculator-equals {
  border-bottom-right-radius: 7px;
}

.calculator-divide, .calculator-multiply, .calculator-subtract, .calculator-add, .calculator-equals {
  background-color: #f5923f;
  color: white;
  border-right: 0px;
}

.calculator-AC, .calculator-positive-negative, .calculator-percent {
  background-color: #d6d6d6;
}

.calculator-answers {
  font-size: 50px;
  font-weight: 300;
}
